            @keyframes rainbowCycle{
                7% {background-color:#FF9AA2;}
                21%{background-color:#FFB7B2;}
                36%{background-color: #FFDAC1;}
                50%{background-color: #E2F0CB;}
                64%{background-color: #B5EAD7;}
                79%{background-color: #C7CEEA;}
                100% {background-color:#FF9AA2;}
            }
            
            @keyframes hoverAnim{
                25%{transform: rotate(0deg)}
                50%{transform: rotate(3deg)}
                75%{transform: rotate(-3deg)}
                100%{transform: rotate(0deg)}

            }
            
            p{
                font-family: monospace;
            }

            
            h1{

                font-family: monospace;
                
            }
            
            h3{

                font-family: monospace;    
            }
            
            button{
                border:none;
            }
            
            #titleBackground{
                background-color: #FF9AA2;
                animation-name: rainbowCycle;
                animation-duration: 20s;
                animation-iteration-count: infinite;
                width:350px;
                height: 150px;
                margin: auto;
                margin-top:-100px;
                border-radius:10px;
                text-align: center;
            }
            
            #mainButton:hover
            {
                animation-name: hoverAnim;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
            }
            
            #mainButton
            {
                display:block;
                width: 400px;
                height: 240px;
                position: absolute; 
                margin-top:50px;

                
                font-size: 100px;
                background-color: #ffecbf;
                font-family: monospace;                      
                border-radius:10px;

            }
            
            #coins{
                position: absolute;
                margin-top:-10px;
                font-size: 50px;
            }
            
            #shopui{
                position:absolute;
                margin: 60px;
                margin: left;
                width: 300px;
                height: 400px;
                background-image: linear-gradient(#ffdc8c,#ffe099);                
                border-radius:10px;
            }
            
            #shoph{
                font-family: monospace;
                color: white;
                font-size: 50px;
                position:relative;
                text-align:center;              
            }
            
            #shopbtn1{
                width: 200px;
                margin-left: 50px;
                margin-top: 0px; 
                height: 150px;                
                border-radius:10px;
                background-color: white;
                font-size: 60px;
            }
            
            #buyBtn{                
                border-radius:5px;
                width: 175px;
                height: 50px;
                background-color: white;
                position:absolute;
                font-size:20px;
                margin-top:175px;
                left:21%;
                opacity:0.75;
                transition: opacity 0.25s;
            }
            
            #buyBtn:hover
            {
                opacity:1;
            }
            
            #title{
                font-size: 125px;                
                text-align: center;                
                color: white;
            }
            
            #avatarui{
                display:block;
                width: 300px;
                float:right;
                margin:60px;
                height: 400px;
                background-image: linear-gradient(#ffdc8c,#ffe099);                
                border-radius:10px;
            }
            
            #buttonDiv
            {
                width: 400px;
                margin:auto;
                position:relative;
            }
            
            #avatarh
            {
                color:white;
                text-align:center;
                font-size:50px;
            }
            
            #avatar
            {
                margin-left:100px;
                margin-top:-40px;
                width: 100px;
                height: 100px;
                border-radius:10px;
                position:absolute;
                
                border-color: white;
            }
            
            .avatarbtn
            {
                width: 75px;
                height: 75px;
                border-radius: 10px;
                background-color: white;
                position:absolute;
            }
            
            .avatarbtn:hover
            {
                animation-name: hoverAnim;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                
            }
            
            #hat
            {
                margin-left:70px;
                margin-top:75px;
                word-wrap: break-word;
                font-size:10px;
            }
            
            #mus
            {
                margin-left:160px;
                margin-top:75px;
                word-wrap: break-word;
                font-size:10px;
            }
            
            #tux
            {
                margin-left:70px;
                margin-top:160px;
                word-wrap: break-word;
                font-size:10px;
            }
            
            #mon
            {
                margin-left:160px;
                margin-top:160px;
                word-wrap: break-word;
                font-size:10px;
            }
            
            .accessory{
                position:absolute;
                margin-top:-40px;
                width:100px;
                margin-left: 100px;
                visibility: hidden;
            }
            
            .nab{
                width:40px;
                height:40px;
                position: absolute;
                border-radius: 10px;
                font-size:30px;
                margin-top:-101px;
                
            }
            
            #next{
                margin-left:250px;
            }
            
            #back{
                margin-left:10px;
                
            }
