@keyframes rainbowCycle{
    0% {background-color:#FF9AA2;}
    21%{background-color:#FFB7B2;}
    36%{background-color: #FFDAC1;}
    50%{background-color: #E2F0CB;}
    64%{background-color: #B5EAD7;}
    79%{background-color: #C7CEEA;}
    100% {background-color:#FF9AA2;}
}

@keyframes rainbowCycleTXT{
    0% {color:#FF9AA2;}
    21%{color:#FFB7B2;}
    36%{color: #FFDAC1;}
    50%{color: #E2F0CB;}
    64%{color: #B5EAD7;}
    79%{color: #C7CEEA;}
    100% {background-color:#FF9AA2;}
}

*{
    font-family: monospace;
    border-radius: 2%;
}

html{
    width:100%;
    height:100%;
}

body{
    width:99%;
    height:98%
}

.main-titles{
    font-size: 75%;
    margin:0;
    padding:2%;
    font-weight: lighter;
    color: #ffffff;
}

#click-button{
    padding: 10%;
    
    border:none;
    
    font-size: 140%;
    transition: all 0.25s;

    margin: 20% 0% 0% 0%;

    background-color: #141414;
    color: #ffffff;

}

#click-button:hover{
    padding:15%;
    font-size: 50px;
    animation-name: rainbowCycle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #141414;
}

.parent-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.main-container{
    background-color: #B5EAD7;
    width:25%;
    height:75%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-div{
    background: none;
}

.title-div{
    margin: 0% 0% 0% 0%;
    font-size:340%;
    background-color: #6163d1;
    padding: 15%;
    color:white;
}

.shop-div{
    font-size: 300%;
}

.avatar-div{
    font-size: 300%;
}

.avatar-container{
    background-color: #ffffff;
    width:70%;
    height: 50%;
    margin:0% 5% 5% 5%;
    padding: 0%;
}

.multiplier-container{
    background-color: #ffffff;
    width: 70%;
    height: 40%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-button{
    border:none;
    width:50%;
    height:15%;
    font-size: auto;
    opacity: 0.85;
    transition: all 0.2s;
    background-color: #ffffff;
    margin: 0%;
}

.buy-button:hover{
    width:60%;
    height:18%;
}

.coins-div{
    position:absolute;
}

.avatar-image{
    position: absolute;
    width:15%;
    height:auto;
    margin:0;
    opacity: 0;
}

.main-image{
    position: absolute;
    width:15%;
    height:auto;
    margin:0;
    opacity: 1;
}

.avatar-container-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.avatar-items-shop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    background-color: #a5c4c4;
    margin-top: auto;
    height:30%;
    width:100%;
    scrollbar-color: #000000;
    scrollbar-width: 10%;
    flex-direction: column;

}

.avatar-item{
    background-color: #ffffff;
    font-size: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding:10% 15% 10% 15%;
    transition: all 0.25s;
    border: none;

}

.avatar-item:hover{
    padding:15% 20% 15% 20%;
}

#avatar-shop-title{
    font-size: 70%;
    margin:0;
    padding: 0;
}


/* SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e6e6e6;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(59, 65, 91);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 28, 59);
  }

/* MOBILE WEBSITE */

.mobile-page-cont{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}